#container {
    width:1200px;
    font-family:ralewaylight, sans-serif;
}

#top {
    color:white;
    height:40px;
    background-color:black;
    position:relative;
}

 #container #top p {
     position:absolute;
     top:10px;
     left:60px;
}

#on {color:#27c7ab;
    font-family: ralewayblack, sans-serif;
  }

nav {
    position:absolute;
    top:-8px;
    left:830px;

}

nav ul li {
    display:inline-block;
    padding:20px;
    font-family:ralewaymedium, sans-serif;
    font-size:14px;
}

#black_square {

    position:absolute;
    top:10px;
    left:830px;
    background-color:black;
    color:white;
    width:120px;
    height:95px;
    font-size:15px;
}

#pointer {
    width:13px;
    height:13px;
    background-color:black;
    transform:rotate(45deg);
    position:absolute;
    top:-6px;
    left:50px;
}

#container #main div ul li {
    padding-top:12px;
    padding-left:10px;
}


#main {

    height:500px;
    position:relative;
    background-color:background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(171,164,171,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(171,164,171,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(171,164,171,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(171,164,171,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(171,164,171,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(171,164,171,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#aba4ab', GradientType=0 );

}


#arr1,#arr2 {

    display:block;
    float:left;
    height:480px;
    width:140px;
    position:relative;
}

#arr1 p {

    font-size:60px;
    color:#24BA9F;
    position:relative;
    left:67px;
    top:190px;

}

#arr2 p {

    font-size:60px;
    color:#24BA9F;
    position:relative;
    left:77px;
    top:190px;

}

#chair {

    display:block;
    float:left;
    height:480px;
    width:378px;
    position:relative;
}

#chair img {
    position:relative;
    top:90px;
    left:-45px;

}
#text {
    display:block;
    float:left;
    height:260px;
    width:500px;
    position:relative;
    top:130px;
    left:30px;


}
h1 {

    font-size:40px;
    font-family: raleway-bold, sans-serif;

    margin-left:60px;
}

h1 span {
    color:#27c7ab;
}

#text p {

    padding:30px;
    font-family: ralewaylight, sans-serif;
    text-align: center;
    font-size:17px;
    margin-top:10px;
    line-height: 22px;



}

 #see {
     background-color:#24BA9F;
     border-radius:10px;
     height:43px;
     width:230px;

     margin-left:120px;
     padding-top:20px;
     padding-left:30px;
     font-size:23px;
     color:white;
 }



#triplet {

    height:360px;
    width:1200px;
    background-color:white;
    position:relative;
}

.box img {
    position:absolute;
    left:65px;
    top:30px;
    height:227px;
    width:328px;
    float:left;

}

.box2 img{

    height:227px;
    width:328px;
    position:absolute;
    float:left;
    top:30px;
    left:420px;


}

#clair{
    height:60px;
    width:312px;
    position:absolute;
    top:162px;
    left:62px;
    background-color: rgba(247,243,239, 0.5);
    font-size:15px;
    font-weight: bold;
    font-family:raleway-extrabold, sans-serif;
    padding-top:18px;
    padding-left:18px;

}

#mar {
    height:60px;
    width:310px;
    position:absolute;
    top:162px;
    left:420px;
    background-color: rgba(247,243,239, 0.5);
    font-size:15px;
    font-weight: bold;
    font-family: raleway-extrabold, sans-serif;
    padding-top:18px;
    padding-left:18px;

}
#inside, #inside2, #inside3 {
    background-color: #24BA9F;
    position:absolute;
    top:33px;
    height:7px;
    width:136px;
}

#inside3 {
    margin-left: 28px;
    margin-top:22px;
}


.box3 {

    height:253px;
    width:342px;
    border: 1px solid #DBDBDB;
    float:left;
    position:absolute;
    left:775px;
    top:30px;

}

h2 {
    font-family: raleway-extrabold, sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding:5px;
    margin-bottom:5px;
    margin-left: 25px;
    margin-top:30px;
}

#boxtext1{
    display:block;
    padding:10px;
    margin-top:10px;
    margin-left:15px;

}
#boxtext2{
    display:block;
    padding:10px;
    margin-left:15px;
}

#price{

    height:725px;
    background-color:#F1F1F1;
    position:relative;
}

h3 {
    font-weight: bold;
    font-size:25px;
    display:block;
    margin-left:65px;
    padding-top:45px;
    padding-bottom: 10px;

}

#green_line {
    margin-left:65px;
    background-color: #27c7ab;
    position:absolute;
    height:11px;
    width:324px;
}


#outside {
    height:600px;
    position:absolute;
    width:90%;
    margin-left:50px;
    margin-top:80px;
}

#basic {
    height:500px;
    width:330px;
    border: 3px solid #D8D8D8;
    position:absolute;
    background-color: #F9F9F9;
}

#basic>p{
    color:#27c7ab;
    font-size: 22px;
    position:absolute;
    left:100px;
    top:30px;
    font-weight:bold;
}

#point1 {
    height:60px;
    width:60px;
    border:3px solid #D8D8D8;
    border-radius: 50%;
    margin-left: 130px;
    margin-top:-50px;
    position:absolute;
    background-color:#FCFCFC;
}

#point1 div {
    height:25px;
    width:25px;
    border:3px solid #D8D8D8;
    border-radius: 50%;
    background-color: #C2C2C2;
    position:absolute;
    left:15px;
    top:14px;
}

#circle1, #circle2, #circle3 {
    font-weight: 600;
    position:absolute;

}

#circle1 {
    width:130px;
    height:130px;
    position:absolute;
    top:80px;
    left:100px;
    color:#C5C5C5;
    border: 3px solid #D3D3D3;
    border-radius:50%;
    background-color: #FFFFFF;
    font-family: raleway-bold, sans-serif;

}

#circle1 span:first-child{
    font-size:45px;
    position:absolute;
    left:35px;
    top:35px;
}
#circle1 span:nth-child(2){
    font-size:45px;
    position:absolute;
    left:60px;
    top:40px;
}
#circle1 span:nth-child(3){
    font-size:15px;
    position:absolute;
    left:85px;
    top:30px;
}
#circle1 span:nth-child(4) {
    font-size: 15px;
    position:absolute;
    left:30px;
    top: 80px;
}

#basic div:nth-child(4){
    background-color: #E4E4E4;
    height:35px;
    width:285px;
    position:absolute;
    top:245px;
    font-size:22px;
    font-weight: bold;
    color:#B4B4B4;
    padding-left:45px;
    padding-top:10px;
}

#basic div:nth-child(5) {
    background-color: #F1F1F1;
    height: 35px;
    width: 210px;
    position: absolute;
    top: 290px;
    font-size:22px;
    font-weight: bold;
    color:#B4B4B4;
    padding-left:120px;
    padding-top:10px;
}


#basic div:nth-child(6){
    background-color: #27c7ab;
    height:22px;
    padding-top:10px;
    width:90px;
    padding-left:30px;
    position:absolute;
    top:440px;
    left:105px;
    border-radius:8%;
    font-size:14px;
    color:white;
    font-family: raleway-extrabold, sans-serif;

}

#standard {
    height:500px;
    width:330px;
    border: 3px solid #27C7AB;
    position:absolute;
    left:360px;
    background-color: #27c7ab;
}

#standard>p{
    color:#FFFFFF;
    font-size: 22px;
    position:absolute;
    left:80px;
    top:30px;
    font-weight:bold;
}

#point2 {
    height:60px;
    width:60px;
    border:3px solid #27C7AB;
    border-radius: 50%;
    margin-left: 130px;
    margin-top:-50px;
    position:absolute;
    background-color:#27C7AB;
}

#point2 div {
    height:30px;
    width:30px;
    border:3px solid #27C7AB;
    border-radius: 50%;
    background-color: #FFFFFF;
    position:absolute;
    left:13px;
    top:13px;
}

#circle2 {
    width:130px;
    height:130px;
    top:80px;
    left:100px;
    border: 3px solid #27c7ab;
    border-radius:50%;
    background-color: #FFFFFF;
    font-family: raleway-bold, sans-serif;
    color:#27c7ab;

}

#circle2 span:first-child{
    font-size:45px;
    position:absolute;
    left:35px;
    top:30px;

}

#circle2 span:nth-child(2){
    font-size:15px;
    position:absolute;
    left:85px;
    top:25px;
}
#circle2 span:nth-child(3) {
    font-size: 15px;
    position:absolute;
    left: 35px;
    top: 80px;
}

#standard div:nth-child(4){
    background-color: #FFFFFF;
    height:35px;
    width:285px;
    position:absolute;
    top:245px;
    font-size:22px;
    font-weight: bold;
    color:#B4B4B4;
    padding-left:45px;
    padding-top:10px;
}

#standard div:nth-child(5) {
    background-color: #F1F1F1;
    height: 35px;
    width: 210px;
    position: absolute;
    top: 290px;
    font-size:22px;
    font-weight: bold;
    color:#B4B4B4;
    padding-left:120px;
    padding-top:10px;
}
#standard div:nth-child(6){
    background-color: #FFFFFF;
    height:35px;
    width:255px;
    position:absolute;
    top:335px;
    font-size:22px;
    font-weight: bold;
    color:#B4B4B4;
    padding-left:75px;
    padding-top:10px;
}

#standard div:nth-child(7){
     background-color: #FFFFFF;
     height:25px;
     width:90px;
     position:absolute;
     top:440px;
     left:105px;
     border-radius: 8%;
     font-size:14px;
     color:#27c7ab;
     padding-left:30px;
     padding-top:10px;
     font-family: raleway-extrabold, sans-serif;

 }

#advance {
    height:500px;
    width:330px;
    border: 3px solid #D8D8D8;
    position:absolute;
    left: 720px;
    background-color:#F9F9F9;
}
#advance>p{
    color:#27c7ab;
    font-size: 22px;
    position:absolute;
    left:80px;
    top:30px;
    font-weight:bold;
}

#point3 {
    height:60px;
    width:60px;
    border:3px solid #D8D8D8;
    border-radius: 50%;
    margin-left: 130px;
    margin-top:-50px;
    position:absolute;
    background-color:#FCFCFC;
}

#point3 div {
    height:25px;
    width:25px;
    border:3px solid #D8D8D8;
    border-radius: 50%;
    background-color: #C2C2C2;
    position:absolute;
    left:15px;
    top:14px;
}

#circle3 {
    width:130px;
    height:130px;
    color:#C2C2C2;
    position:absolute;
    top:80px;
    left:100px;
    border: 3px solid #D3D3D3;
    border-radius:50%;
    background-color: #FFFFFF;
    font-family: raleway-bold, sans-serif;

}

#circle3 span:first-child{
    font-size:45px;
    position:absolute;
    left:20px;
    top:35px;

}

#circle3 span:nth-child(2) {
    font-size: 15px;
    position:absolute;
    left: 90px;
    top: 30px;
}
#circle3 span:nth-child(3) {
    font-size: 15px;
    position:absolute;
    left: 25px;
    top: 80px;
}


#advance div:nth-child(4){
    background-color: #E4E4E4;
    height:35px;
    width:285px;
    position:absolute;
    top:245px;
    font-size:22px;
    font-weight:bold;
    color:#B4B4B4;
    padding-left:45px;
    padding-top:10px;
}

#advance div:nth-child(5) {
    background-color: #F1F1F1;
    height: 35px;
    width: 210px;
    position: absolute;
    top: 290px;
    font-size:22px;
    font-weight: bold;
    color:#B4B4B4;
    padding-left:120px;
    padding-top:10px;
}
#advance div:nth-child(6) {
    background-color: #E4E4E4;
    height: 35px;
    padding-top:10px;
    width: 250px;
    padding-left:80px;
    position: absolute;
    top: 335px;
    font-size:22px;
    font-weight: bold;
    color:#B4B4B4;


}
#advance div:nth-child(7) {
    background-color: #F1F1F1;
    height: 35px;
    width: 270px;
    padding-left:60px;
    position: absolute;
    top: 380px;
    font-size:22px;
    font-weight: bold;
    color:#B4B4B4;

    padding-top:10px;
}
#advance div:nth-child(8){
    background-color: #27c7ab;
    height:25px;
    padding-top:10px;
    width:90px;
    padding-left:30px;
    position:absolute;
    top:440px;
    left:105px;
    border-radius: 8%;
    font-size:14px;
    color:white;


    font-family: raleway-extrabold, sans-serif;

}



#contact {

    height:540px;
    background-color:white;

}

