.nav_section{
    height:940px;
    width:100%;
    
    nav{
        height:145px;
        background-color:#FFFFFF;
       
    }
    
    .container {
        height:795px;
        background-color:#EEEEEE; 
    }
}